node_modules/
reports
coverage
.nyc_output
artifacts
cache
package-lock.json
usersLogged.log
proxy_virtualenv
dist
.vscode
out

.git

config.json*
!config.json.sample.docker 

Jenkinsfile
junit.xml

package-lock.json

usersLogged.log
