node_modules/
reports
coverage
config.json
config.json.sample.local
config.json.sample.oicd
.nyc_output
artifacts
cache
package-lock.json
usersLogged.log
proxy_virtualenv
dist
.vscode
out

report.xml
junit.xml

*json.bak*