<?xml version="1.0"?>

<model>
  <name>Biology lab environment</name>
  <sdf version="1.5">biologylab.sdf</sdf>

  <author>
    <name>Gregor Ober</name>
    <email>g.nichts.an@gmx.net</email>
  </author>

  <description>
    Environment for performing mouse experiments in a Y-Maze, on a table, within a realistic biology lab.
  </description>
</model>
