<?xml version='1.0'?>
<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config ../robot_model_configuration.xsd">
    <name>Pioneer 3DX</name>
    <version>1.0</version>
    <maturity>production</maturity>
    <license>GPL</license>
    <sdf version="1.6">pioneer3dx.sdf</sdf>
    <thumbnail>thumbnail.png</thumbnail>
    <author>
        <name>Rafael Berkvens</name>
        <email>rafael.berkvens@uantwerpen.be</email>
    </author>

    <description>
        A ROS/Gazebo Pioneer 3DX model.
    </description>

    <website>http://www.mobilerobots.com/ResearchRobots/PioneerP3DX.aspx</website>

    <documentation>
        <sensors>
        </sensors>

        <actuators>
        </actuators>
    </documentation>
</model>
